@import url(../fonts/HyWen/stylesheet.css);
@import url(../fonts/HyWen-thin/stylesheet.css);
@import url(../fonts/righteous/stylesheet.css);
@import url(../fonts/virgo/stylesheet.css);
@import url(../../node_modules/materialize-css/dist/css/materialize.min.css);

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.text {
  position: relative;
  z-index: 10;
}
.hywenhei {
  font-family: 'hywenhei', Arial, sans-serif;
}
.hywenhei-thin {
  font-family: 'hywenhei-thin', Arial, sans-serif;
}
.virgo {
  font-family: 'virgo', Arial, sans-serif;
}
.righteous {
  font-family: 'righteous', Arial, sans-serif;
}

.text-white {color: rgb(249, 255, 255);}
.text-white-shadow {text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);}
.text-hover-no-shadow:hover {text-shadow: none}