@import url(../fonts/HyWen/stylesheet.css);
@import url(../fonts/HyWen-thin/stylesheet.css);
@import url(../fonts/righteous/stylesheet.css);
@import url(../fonts/virgo/stylesheet.css);
@import url(../../node_modules/materialize-css/dist/css/materialize.min.css);

::-webkit-scrollbar {
  width: 15px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
  background: rgba(23, 26, 29, .7) !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1) !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(58, 75, 87);
  border-radius: 20px;
  transition: .3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(78, 101, 114);
}

.text {
  position: relative;
  z-index: 10;
}
.hywenhei {
  font-family: 'hywenhei', Arial, sans-serif;
}
.hywenhei-thin {
  font-family: 'hywenhei-thin', Arial, sans-serif;
}
.virgo {
  font-family: 'virgo', Arial, sans-serif;
}
.righteous {
  font-family: 'righteous', Arial, sans-serif;
}

.text-white {color: rgb(249, 255, 255);}
.text-white-shadow {text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);}
.text-hover-no-shadow:hover {text-shadow: none}


@media (min-width: 990px) {
  .l0 {
    display : none;
  }
}
@media (min-width: 600px) {
  @media (max-width: 990px) {
    .m0 {
      display : none;
    }
  }
}
@media (max-width: 600px) {
  .s0 {
    display : none;
  }
}