@font-face {
    font-family: 'hywenhei';
    src: url('hywenhei-85w-webfont.woff2') format('woff2'),
         url('hywenhei-85w-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}